<h1 class="title-pri">Segunda entrega Backend</h1>
<h2 class="title-sec">Lista de Productos</h2>
<ul>
    {{#each products}}
    <li>
        <span>{{category}}</span>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{#if thumbnails.[0]}}
            <img src="{{thumbnails.[0]}}" alt="{{title}}" />
        {{else}}
            <img src="https://qurystorage.s3.us-east-1.amazonaws.com/fotos/producto-sin-imagen.png" alt="Producto sin imagen" />
        {{/if}}
        <p>Precio: ${{price}}</p>
        <span>{{code}}</span></br></br>
        <p>ID: {{_id}}</p>
    </li>
    {{/each}}
</ul>
<br>
<h4>Páginas</h4>
<div class="container-enlaces">
    
    {{#if hasPrevPage}}
        <a href="/products/?"> Inicio </a>
        <a href="/products/?page={{prevPage}}"> Anterior </a>
    {{else}}
    {{/if}}

    {{#if hasNextPage}}
        <a href="/products/?page={{nextPage}}"> Siguiente </a>
        <a href="/products/?page={{totalPages}}"> Final </a>
    {{else}}
    {{/if}}
</div>